rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only read their own profile, but not list all users.
    // They can only update their own profile.
    match /users/{userId} {
      allow get, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // A user can read their own earned badges.
    match /users/{userId}/userBadges/{badgeId} {
       allow read: if request.auth != null && request.auth.uid == userId;
    }
    
    // Quiz progress can only be read/written by the user who owns it.
    // The document ID is structured as {userId}_{topicId}.
    match /quizProgress/{docId} {
      allow read, write: if request.auth != null && request.auth.uid == docId.split('_')[0];
    }

    // Test progress can only be read/written by the user who owns it.
    // The document ID is structured as {userId}_{testId}.
    match /testProgress/{docId} {
      allow read, write: if request.auth != null && request.auth.uid == docId.split('_')[0];
    }
  }
}
