rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow user to read and write their own main document
      allow read, write: if request.auth.uid == userId;

      // Allow user to read and write documents in their own subcollections
      match /quizProgress/{quizDocId} {
        allow read, write: if request.auth.uid == userId;
      }
      match /testProgress/{testDocId} {
        allow read, write: if request.auth.uid == userId;
      }
    }
  }
}
